.container-proyect {
	height: 150px;
	overflow: hidden;
	position: relative;
	@media #{$large-and-up}{
		height: 200px;
	}
	.opacity-proyect {
		position: absolute;
		bottom: 0px;
		width: 100%;
		height: 20px;
		background: linear-gradient(to top, rgba(255,255,255,1) , rgba(255,255,255,0));
	}
}