// Remove Focus Boxes
select:focus {
  outline: $select-focus;
}

button:focus {
  outline: none;
  background-color: $button-background-focus;
}

label {
  font-size: $label-font-size;
  color: $input-border-color;
}

@import 'input-fields';
@import 'radio-buttons';
@import 'checkboxes';
@import 'switches';
@import 'select';
@import 'file-input';
@import 'range';

.wpcf7 {
	input:not([type="submit"]), textarea {
		margin-bottom: 0px!important;
		background-color: rgba(33, 33, 33, 0.60)!important;
		border-bottom: 1px solid $primary-color!important;	
		outline: none!important;
		&:focus {
			box-shadow: 0 1px 0 0 $primary-color-light!important;
		}	
	}
	input:not([type="submit"]) {
		height: 25px!important;
	}
	input[type="submit"] {
		background-color: transparent;
	}
	textarea {
		border-top: none;
		border-left: none;
		border-right: none;
	}
	select {
		//display: block;
	}
}


// Estilo Placeholder
// ::-webkit-input-placeholder { /* WebKit browsers */
// 	color: black;
// 	font-size: 12px;
// }

// :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
// 	color: black;
// 	font-size: 12px;
// }

// ::-moz-placeholder { /* Mozilla Firefox 19+ */
// 	color: black;
// 	font-size: 12px;
// }

// :-ms-input-placeholder { /* Internet Explorer 10+ */
// 	color: black;
// 	font-size: 12px;
// }