// Remove Focus Boxes
select:focus {
  outline: $select-focus;
}

button:focus {
  outline: none;
  background-color: $button-background-focus;
}

label {
	font-size: $label-font-size;
  	color: #fff;
	font-weight: 500;
	margin-bottom: 10px;
}

@import 'input-fields';
@import 'radio-buttons';
@import 'checkboxes';
@import 'switches';
@import 'select';
@import 'file-input';
@import 'range';

.wpcf7 {
	input:not([type="submit"]), textarea { 
		margin-top: 10px!important;
		background-color: rgba(33, 33, 33, 0.60)!important;
		border-bottom: 1px solid $primary-color!important;	
		outline: none!important;
		&:focus {
			box-shadow: 0 1px 0 0 $primary-color-light!important;
		}	
	}
	input:not([type="submit"]) {
		height: 25px!important;
		margin-bottom: 10px!important;
	}
	input[type="submit"] {
		background-color: transparent;
	}
	textarea {
		margin-bottom: 0px!important;
		border-top: none;
		border-left: none;
		border-right: none;
		height: 80px;
	}
	select {
		//display: block;
	}
	.wpcf7-submit {
		margin-top: 20px;
		height: 30px;
		font-size: 14px;
		outline: none;
		&:hover {
			background-color: $primary-color-light;
		}
	}
	.ajax-loader { 
		//display: none!important; 
		position: absolute;
	    right: 80px;
	    bottom: -2px;
        width: 35px;
    	height: 35px;
	    background-size: contain;
	}

	//validación
	.wpcf7-response-output {
    	display: block;
   		border: 0px;
    	margin: 0px;
    	color: $primary-color-light;
    	&.wpcf7-validation-errors {
    		color: #ff1100;
    	}
	}
	.wpcf7-not-valid-tip {
		color: #ff4638;
		font-weight: 500;
		font-size: 12px;
	}
}

.wpcf7-form-control-wrap.servicios,
.wpcf7-form-control-wrap.tiempo,
.wpcf7-form-control-wrap.presupuesto {
	margin-top: 10px;
	display: block;
}


// Estilo Placeholder
// ::-webkit-input-placeholder { /* WebKit browsers */
// 	color: black;
// 	font-size: 12px;
// }

// :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
// 	color: black;
// 	font-size: 12px;
// }

// ::-moz-placeholder { /* Mozilla Firefox 19+ */
// 	color: black;
// 	font-size: 12px;
// }

// :-ms-input-placeholder { /* Internet Explorer 10+ */
// 	color: black;
// 	font-size: 12px;
// }